language: python
python:
  - "3.6"      # current default Python on Travis CI
  - "3.7"
  - "3.8"
# command to install dependencies
install:
  - pip install -r requirements.txt
  - pip install -r test_requirements.txt
# command to run tests
script:
  - pytest
matrix:
include:
  - python: 3.6
    env:
     - TOX_ENV=py36
  - python: 3.6
    env:
      - TOX_ENV=py36
script: tox -e $TOX_ENV