[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
flask-testing = "*"
flake8 = "*"
mock = "*"

[packages]
flask = "*"
marshmallow = "*"
requests = "*"
flask-restful = "*"
pytest = "*"
flask-testing = "*"

[requires]
python_version = "3.6"
